<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="springQuizMaster" class="quiz.SpringQuizMaster"></bean>
	<bean id="strutsQuizMaster" class="quiz.StrutsQuizMaster"></bean>
	<bean id="quizMasterService" class="quiz.QuizMasterService">
		<property name="quizMaster">
			<ref local="strutsQuizMaster"/>
		</property>
	</bean>	
	
</beans>
